.color {
    border: 1px solid black;
    width: 40px;
    height: 40px;
}

#black {
    background-color: black;
    display: inline-block;
}

#green {
    background-color: green;
    display: inline-block;
}

#pink {
    background-color: pink;
    display: inline-block;
}

#grey {
    background-color: grey;
    display: inline-block;
}

.pixel {
    background-color: white;
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 40px;
}